/*body trang giá vé*/

.content-package {
	padding-right: 30%;
}

.title-package {
	color: #F28AAE;
	font-size: 32px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}

.text-package {
	color: #273B4A;
	font-size: 16px;
	font-weight: 500;
	margin: 20px 0;
}

.list-package {
	list-style: none;
	padding-left: 0;
	font-weight: 700;
	font-size: 18px;
	color: #233668;
	margin-bottom: 0;
}

.list-package li {
	margin-bottom: 10px;
}

.list-package i {
	color: #45B3DF;
	margin-right: 10px;
}

.img-package {
	width: 100%;
	height: auto;
}

@media(max-width: 1700px) {
	.content-package {
		padding-right: 25%;
	}
}

@media(max-width: 1600px) {
	.content-package {
		padding-right: 20%;
	}
}

@media(max-width: 1500px) {
	.content-package {
		padding-right: 10%;
	}
}

@media(max-width: 991px) {
	.img-package {
		margin-top: 30px;
	}

	.content-package {
		padding-right: 0;
	}
}

@media(max-width: 450px) {
	.title-package {
		font-size: 28px;
	}
}

/*bùng nổ ưu đãi*/

.content-discount {
	text-align: center;
}

.content-discount img {
	width: 100%;
	height: auto;
}

.content-discount h3 {
	color: #233668;
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	transition: 0.3s;
	margin: 15px 0;
}

.content-discount p {
	color: #7DBEAF;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	transition: 0.3s;
}

.content-discount:hover h3,
.content-discount:hover p {
	color: #1F92D1;
}

@media(max-width: 991px) {
	.content-discount {
		margin-bottom: 30px;
	}
}

/*Hãy đến với Sala*/

.img-sala {
	width: 100%;
	height: auto;
}

.bg-sala {
	background-color: #FCF9F4;
	padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    position: relative;
}

.img-sala-2 {
    position: absolute;
    top: -135px;
    right: 100px;
}

.img-sala-3 {
	position: absolute;
    top: 0;
    left: 70px;
}

.title-sala {
	color: #00b9f2;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}

.list-price {
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 36px;
    border: 1px dashed #45B3DF;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.list-price li {
	background-color: white;
	color: #45B3DF;
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	border-radius: 23px;
	padding: 12px 32px;
	cursor: pointer;
}

/*-------------------------*/

.content-combo {
	background-color: white;
	border-radius: 16px;
	margin-top: 30px;
}

.price-circle {
	position: relative;
}

.icon-circle {
	display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    gap: 45px;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
}

.price-combo,
.price-combo-2,
.price-combo-3 {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	color: white;
	font-size: 36px;
	font-style: normal;
	font-weight: 900;
	text-align: center;
    padding: 70px 30px;
}

.combo {
	border-radius: 23px;
	background-color: #45B3DF;
	font-size: 16px;
	color: white;
	font-weight: 900;
	padding: 12px 32px;
	text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    position: relative;
    z-index: 1;
}

.text-combo {
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    color: #233668;
    text-align: center;
    padding: 30px 25px;
    padding-bottom: 0;
    line-height: 2;
}

.btn-buy,
.btn-buy-2,
.btn-buy-3 {
	border-radius: 61px;
	padding: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
    top: 35px;
}

.btn-buy {
	border: 1px dashed #FACA72;
}

.btn-buy-2 {
	border: 1px dashed #F28AAE;
}

.btn-buy-3 {
	border: 1px dashed #247C26;
}

.btn-buy p,
.btn-buy-2 p,
.btn-buy-3 p {
	text-align: center;
	border-radius: 61px;
	padding: 12px 32px;
	color: white;
	font-size: 16px;
	font-weight: 900;
}

.btn-buy-color p,
.price-combo {
	background-color: #FACA72;
}

.btn-buy-color-2 p,
.price-combo-2 {
	background-color: #F28AAE;
}

.btn-buy-color-3 p,
.price-combo-3 {
	background-color: #247C26;
}

/*-------------------*/

.list-price .active-btn {
	background-color: #45B3DF;
	color: white;
}

.tab-combo {
	display: none;
}

.active-combo {
	display: block;
}

@media(max-width: 1600px) {
	.img-sala-2 {
		height: 140px;
		top: -125px;
	}

	.img-sala-3 {
		height: 200px;
		top: -35px;
    	left: 50px;
	}
}

@media(max-width: 1400px) {
	.price-combo,
	.price-combo-2,
	.price-combo-3 {
		font-size: 28px;
	}

	.combo {
		width: 55%;
	}
}

@media(max-width: 1200px) {
	.icon-circle {
		gap: 20px;
	}

	.img-sala-2,
	.img-sala-3 {
		display: none;
	}
}

@media(max-width: 991px) {
	.content-combo {
		margin-bottom: 60px;
	}

	.icon-circle {
		gap: 35px;
	}

	.combo {
		width: 60%;
	}
}

@media(max-width: 740px) {
	.list-price {
		width: 100%;
		text-align: center;
	}
}

@media(max-width: 450px) {
	.list-price {
		display: block;
	}

	.list-price li {
		margin-bottom: 15px;
	}
}

/*sửa lỗi*/

/*-------------------*/

button.more-btn:hover {
	background-color: white;
	color: #2fa8da;
	border: 1px solid #2fa8da;
}

@media(max-width: 1024px) {
	button.more-btn {
		padding: 10px 60px;
	}

	.img-deco img:last-child {
		display: none;
	}

	.ser-wrap > img:first-child {
		right: 50px;
	}
}

@media(max-width: 991px) {
	.service {
		display: block;
	}

	.ser-wrap > img:first-child {
		display: none;
	}
}

@media(max-width: 450px) {
	.img-deco img:first-child {
		top: -30px;
	}
}