@charset "UTF-8";
.heading .logo {
  display: flex;
  justify-content: center;
}
.heading .heading-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading .heading-top-login,
.heading .heading-top-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 700;
}
.heading .heading-top-login:hover a,
.heading .heading-top-cart:hover {
  color: #233668;
}
.heading .heading-top-search {
  width: 50%;
  position: relative;
}
.heading .heading-top-search input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #3d3d3d;
  padding: 10px 20px;
}
.heading .heading-top-search svg {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.heading .menu-item {
  transition: 0.3s ease;
  padding: 10px 0;
}
.heading .menu-item:hover a {
  color: #00b9f2;
}
.heading .menu-item i {
  margin-right: 10px;
}
.heading .welcome {
  position: relative;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading .welcome .welcome-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.heading .welcome .welcome-content {
  padding: 30px;
}
.heading .welcome .welcome-content p:first-child {
  color: #fff;
  padding: 5px 15px;
  background-color: #ffd51f;
  width: fit-content;
  border-radius: 5px;
}
.heading .welcome .welcome-content p:nth-child(2) {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
}
.heading .welcome .welcome-content p:nth-child(2) span {
  color: #ffd51f;
}
.heading .welcome .welcome-content p:last-child {
  color: #fff;
}

.socials {
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-around;
}
.socials .bg {
  padding: 10px 17px;
  border-radius: 50%;
}
.socials .fb {
  background-color: #247c26;
  position: relative;
}
.socials .fb::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  z-index: 2;
  border-radius: 50%;
  border: 2px dotted #247c26;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.3s ease;
}
.socials .fb:hover::before {
  cursor: pointer;
  display: block;
}
.socials .location {
  background-color: #f28aae;
  position: relative;
}
.socials .location::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  z-index: 2;
  border-radius: 50%;
  border: 2px dotted #f28aae;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.3s ease;
}
.socials .location:hover::before {
  cursor: pointer;
  display: block;
}
.socials .phone {
  background-color: #faca72;
  position: relative;
}
.socials .phone::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  z-index: 2;
  border-radius: 50%;
  border: 2px dotted #faca72;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition: 0.3s ease;
}
.socials .phone:hover::before {
  cursor: pointer;
  display: block;
}
.socials i {
  color: #fff;
}

.title {
  color: #2ba6d8;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin: 20px 0 10px 0;
}

.content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.slider-wrap {
  padding: 25px 70px 70px 70px;
  background: #ebe8e8;
  border-radius: 20px;
  position: relative;
  margin: 50px 0 20px 0;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#swiper-pagination {
  bottom: 20px;
  position: absolute;
  text-align: center;
}

.swiper.mySwiper {
  border-radius: 20px;
}

.button-wrap {
  text-align: center;
}

button.more-btn {
  padding: 10px 100px;
  border: none;
  border-radius: 16px;
  background-color: #2fa8da;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

.swipe-btn.swiper-button-next1 {
  top: 50%;
  position: absolute;
  z-index: 2;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

.swipe-btn.swiper-button-prev1 {
  top: 50%;
  position: absolute;
  z-index: 2;
  left: 0;
  transform: rotate(180deg);
  display: flex;
  justify-content: flex-end;
}

.swipe-btn img {
  width: 80%;
}

.swiper.mySwiper1 {
  border-radius: 16px;
  margin: 50px 0;
}

.service-group .content {
  padding: 0 40px;
  text-align: justify;
  width: 100%;
  font-size: 14px;
  margin: 20px 0;
}

.service-group .title {
  padding: 0 40px;
  text-align: left;
  width: 100%;
  font-weight: 700;
}

.services .service:nth-child(even) .col-lg-7 {
  order: 2;
}

.mySwiper1 .swiper-slide img {
  height: 350px;
  object-fit: cover;
  width: 100%;
}

.top-banner {
  height: 50px;
  width: 100%;
  background-image: url("imgs/download (3).svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bot-banner {
  height: 80px;
  width: 100%;
  background-image: url("imgs/download (4).svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.services {
  background: linear-gradient(
    180deg,
    #d4f2ff 2.94%,
    #d4f2ff 20.12%,
    #fff0f3 28.56%,
    #fff0f3 44.01%,
    #fffde2 53.74%,
    #fffde2 69.51%,
    #e5fbb6 78.06%,
    #e5fbb6 96.13%
  );
  position: relative;
}

.heading {
  margin-bottom: 100px;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.from,
.to {
  font-size: 80px;
  font-weight: 800;
  color: #fff;
  line-height: 1.2;
}

.time {
  height: 100%;
  padding: 150px 0 70px 100px;
  background: #60ab47;
  text-align: center;
  position: relative;
}

.time span {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.time p {
  color: #fff;
}

.time::before {
  position: absolute;
  content: "Giờ mở cửa";
  top: 0;
  background-color: #2f3192;
  color: #fff;
  padding: 41px 10px;
  right: 75px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.opening-time-wrap {
  margin: 100px 0;
}

.footer-title {
  color: #233668;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}

.left-item {
  padding: 8px 0;
}

.left-item i {
  margin-right: 10px;
  color: #00b9f2;
}

.liciense {
  width: fit-content;
  text-align: center;
  color: #233668;
}

.left-item a {
  color: #233668;
}

.footer-register {
  padding: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.right input:first-child {
  border-radius: 8px;
  background: #e7e7e7;
  border: none;
  padding: 5px 25px;
  width: 50%;
  margin-right: 30px;
}

.right input:last-child {
  border-radius: 8px;
  background: #2fa8da;
  border: none;
  padding: 5px 25px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}

.footer-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer-wrap {
  padding: 80px 0 40px 0;
}

.copy-right {
  color: #00b9f2;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
  padding: 10px 0;
}

.menu-item a:active {
  color: #00b9f2;
  font-weight: 700;
}

.heading .menu-item:first-child {
  padding-top: 0;
}

.menu-mobile {
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #00b9f2;
  display: none;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-mobile i {
  color: #fff;
  font-size: 20px;
}

.menu-mobile > i:first-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 30px;
}

.menu-mobile .logo img {
  width: 70%;
}

.group-mobile {
  display: flex;
  gap: 30px;
  padding-right: 20px;
}

.menu-mob {
  position: fixed;
  z-index: 11;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  opacity: 0;
  pointer-events: none;
}

.menu-mob.active {
  opacity: 1;
  pointer-events: auto;
}

.menu-mob.active ul {
  transform: translateX(0);
  opacity: 1;
}

.menu-mob ul {
  text-align: center;
  padding-left: 0;
  transition: 0.5s ease;
  transform: translateX(-100%);
  opacity: 0;
}

.menu-mob ul {
  text-align: center;
  padding-left: 0;
  transition: 0.5s ease;
  transform: translateX(-100%);
  opacity: 0;
}
.menu-mob ul .socials {
  margin: 50px auto 0 auto;
}

.menu-mob .menu-item a {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.menu-mob .menu-item {
  padding: 5px 0;
}

.login-form-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(141, 141, 141, 0.5);
  z-index: 12;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
}
.login-form-wrap .login-form {
  width: 500px;
  background-color: #fff;
  padding: 50px 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.login-form-wrap .login-form input {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  margin-bottom: 10px;
  background-color: #ccc;
}
.login-form-wrap .login-form input:nth-child(2)::placeholder,
.login-form-wrap .login-form input:first-child::placeholder {
  color: #233668;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.user-img {
  margin-bottom: 10px;
}
/* .login-form-wrap .login-form input:nth-child(3) {
  
  margin: 20px 0;
} */
.login-form-wrap .login-form input:nth-child(3) {
  background-color: #00b9f2;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}
.login-form-wrap .login-form p a {
  font-size: 13px;
  text-decoration: underline;
  font-style: italic;
  color: #233668;
  font-weight: 600;
}
.login-form-wrap .login-form .rocket {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.login-form-wrap.active {
  opacity: 1;
  pointer-events: auto;
}

.welcome svg:first-child {
  position: absolute;
  bottom: 10%;
  left: 35%;
}
.welcome svg:nth-child(2) {
  position: absolute;
  top: 6%;
  right: 6%;
}
.welcome img:nth-child(3) {
  position: absolute;
  top: 25%;
  left: 40%;
}
.welcome svg:nth-child(4) {
  position: absolute;
  bottom: 8%;
  right: 10%;
}
.welcome svg:nth-child(5) {
  position: absolute;
  bottom: 35%;
  right: 5%;
}
.welcome svg:nth-child(6) {
  position: absolute;
  top: 10%;
  left: 48%;
}
.welcome svg:nth-child(7) {
  position: absolute;
  top: 15%;
  left: 55%;
}
.welcome svg:nth-child(8) {
  position: absolute;
  top: 22%;
  left: 20%;
}
.welcome svg:nth-child(9) {
  position: absolute;
  top: 30%;
  left: 30%;
}
.welcome svg:nth-child(10) {
  position: absolute;
  bottom: 20%;
  left: 4%;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #8b8b8b;
}
.breadcrumb span {
  color: #00b9f2;
  font-weight: 700;
}

.regis-title {
  color: #00b9f2;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.regis-item,
.regis-btn,
.updatePass,
.update-btn {
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 16px;
  border: 1px solid #233668;
}
#gender {
  margin-bottom: 15px;
  border-radius: 16px;
  border: 1px solid #233668;
  padding: 12px 15px;
  height: unset;
  width: 100%;
}

.regis-btn,
.updatePass,
.update-btn {
  border-radius: 8px;
  background: #3eb3e2;
  border: none;
  padding: 12px 50px;
  color: #fff;
  font-weight: 700;
}

.update-btn {
  width: fit-content;
  padding: 12px 10px;
  text-align: center;
  cursor: pointer;
}
.a1 {
  display: none;
}

.account-wrap {
  margin-top: 30px;
}

.regis-item::placeholder {
  font-size: 14px;
}

.avatarWrap {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.avatar {
  width: 100px;
}

.userNamee {
  font-weight: 700;
}

/* .regis-item {
  position: relative;
}

.regis-item::before {
  position: absolute;
  content: "*";
  color: red;
  top: 0;
  right: 50%;
} */

.wrong-pass {
  display: none;
}

.regis-wrap {
  text-align: right;
}

.title-regis-form {
  color: #233668;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 40px 0 25px 12px;
}

.img-deco img:first-child {
  position: absolute;
  right: 25px;
  top: -20px;
}

.img-deco img:last-child {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
}

.question {
  padding: 20px 0;
  border-bottom: 1px solid #cdcecf;
}

.questitle {
  color: #233668;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.questitle.active {
  color: #00b9f2;
  font-weight: 700;
}

.questitle i {
  font-size: 20px;
}

.answer {
  color: #363a40;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s ease;
  cursor: pointer;
  width: 90%;
  margin-top: 10px;
}

.answer.active {
  height: 100%;
  opacity: 1;
}

.question-title {
  color: #eb1551;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 10px;
}

.question-title i {
  margin-right: 10px;
}

.contact-title {
  color: #00b9f2;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 100px;
}

.c-f-title {
  color: #f7941e;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 20px;
}

.contact-form {
  margin-top: 40px;
  position: relative;
}
.contact-form img {
  position: absolute;
  top: -25px;
  right: 0;
}
.contact-form input {
  padding: 15px 25px;
  border-radius: 16px;
  border: 1px solid #f0ca78;
  margin-bottom: 15px;
}
.contact-form input:last-child {
  border: none;
  padding: 12px 25px;
  margin-top: 10px;
}
.contact-form textarea {
  padding: 10px 25px;
  border-radius: 16px;
  border: 1px solid #f0ca78;
  height: 130px;
}

.c-f-img {
  position: relative;
  height: 100%;
}
.c-f-img img:first-child {
  position: absolute;
  top: 0;
  left: 25%;
  transform: translateY(-30%);
  width: 150px;
  z-index: -1;
}

.place-left {
  display: flex;
  gap: 12px;
}

.place-right {
  display: flex;
  justify-content: end;
  position: relative;
}
.place-right img {
  width: 90%;
}
.place-right-title {
  position: absolute;
  left: 36px;
  transform: rotate(270deg);
  top: 45%;
  color: #fff;
  font-weight: 700;
}

.info-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 65%;
  padding-left: 70px;
}

.place-info {
  color: #fff;
  margin-bottom: 15px;
  font-size: 14px;
}

.place-mail-text,
.place-phone-text,
.place-text {
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.place-phone-text::before {
  content: "\f095";
  position: absolute;
  left: -40px;
  color: #fff;
  font-family: "Font Awesome 6 Pro";
}

.place-mail-text::before {
  content: "\f813";
  position: absolute;
  left: -40px;
  color: #fff;
  font-family: "Font Awesome 6 Pro";
}

.place-text::before {
  content: "\f3c5";
  position: absolute;
  left: -40px;
  color: #fff;
  font-family: "Font Awesome 6 Pro";
}

.place-name {
  text-align: center;
  margin-top: 40px;
  font-weight: 800;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  width: fit-content;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}

.place-name.active {
  background-color: #3eb3e2;
  color: #fff;
}

.n-p-title {
  color: var(--edit-01, #233668);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.near-places {
  background: linear-gradient(180deg, rgba(255, 187, 140, 0) 0%, #ffe8d9 100%);
  padding: 100px 0 50px 50px;
}

.map iframe {
  width: 100%;
  margin-bottom: 50px;
}

.news-title {
  color: #00b9f2;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 50px;
}

span.date {
  color: #1f92d1;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 10px 0;
  display: inline-block;
}

.news-post-title {
  margin-bottom: 5px;
  transition: 0.2s ease;
}

.news-post-title:hover a {
  color: #00b9f2;
}

.news-post-title a {
  color: #233668;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  transition: 0.2s ease;
}

.new-wrap .news {
  margin-bottom: 30px;
  display: none;
}

.new-wrap:nth-child(1) .news {
  display: block;
}

.new-wrap:nth-child(2) .news {
  display: block;
}

.new-wrap:nth-child(3) .news {
  display: block;
}

.new-wrap:nth-child(4) .news {
  display: block;
}

.new-wrap:nth-child(5) .news {
  display: block;
}

.new-wrap:nth-child(6) .news {
  display: block;
}

.news-des {
  color: #233668;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 147.312%; /* 20.624px */
}

.more-news {
  text-align: center;
}

.more-news button {
  border: none;
  padding: 10px 30px;
  text-transform: uppercase;
  background-color: #f28aae;
  color: #fff;
  border-radius: 50px;
  font-weight: 800;
  font-size: 14px;
  transition: 0.3s ease;
}

.more-news button:hover {
  background-color: #f03476;
  transform: scale(0.95);
}

.date span {
  margin-left: 30px;
}

.sub-imgs {
  margin: 50px 0;
}

.overview-title {
  color: #00b9f2;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 12px;
}

.overview-text {
  color: #233668;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 60px;
  margin: 15px 0;
}

.overview-title2 {
  color: #00b9f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.overview-text2 {
  color: #233668;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 60px;
  margin: 15px 0;
}

.related-posts-title {
  color: #45b3df;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin: 50px 10px;
}

.news-details {
  width: 85%;
  margin: 0 auto;
}

table {
  border-collapse: separate;
  width: 100%;
  border-spacing: 0 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
}

.row1 span {
  color: #2ac5f5;
  font-weight: 700;
}

.row1 td {
  border-right: 3px solid #2ac5f5;
}

.row2 span {
  color: #e9a11c;
  font-weight: 700;
}

.row2 td {
  border-right: 3px solid #e9a11c;
}

.row3 span,
.row6 span {
  color: #f28fb1;
  font-weight: 700;
}

.row3 td,
.row6 td {
  border-right: 3px solid #f28fb1;
}

.row4 span {
  color: #247c26;
  font-weight: 700;
}

.row4 td {
  border-right: 3px solid #247c26;
}

.row5 span {
  color: #2ac5f5;
  font-weight: 700;
}

.row5 td {
  border-right: 3px solid #2ac5f5;
}

th,
td {
  width: 25%;
  text-align: center;
}

td:first-child,
td:last-child {
  border-right: none;
}

td:first-child {
  height: 160px;
}

td img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px;
}

tr td:first-child {
  color: #233668;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.gold::before,
.silver::before,
.diamond::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
}

th svg {
  width: 100%;
}

.rank {
  height: 165px;
  position: relative;
}

.rank img:first-child {
  position: relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 30%;
}

.rank img:nth-child(2) {
  position: absolute;
  bottom: 0;
  height: 50%;
}

.rank::before {
  content: attr(data-text);
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.rank-title {
  color: #247c26;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 50px 10px;
  text-align: center;
}

.girl img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  z-index: -1;
}

.heading-img {
  margin-bottom: 30px;
}

.servicess {
  width: 80%;
  margin: 0 auto;
}

.ser-img {
  width: 100%;
}

.ser-img img {
  height: 133px;
  object-fit: cover;
}

.ser-name {
  color: #233668;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 15px 0;
  transition: 0.2s ease;
  cursor: pointer;
}

.ser-name:hover {
  color: #00b9f2;
}

.ser-name:hover + .ser-des {
  color: #00b9f2;
}

.ser-des:hover {
  color: #00b9f2;
}
div#v-pills-tab {
  margin-bottom: 20px;
}
.ser-des {
  cursor: pointer;
  transition: 0.2s ease;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  text-align: center;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #233668;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}

.ser-group .col-md-3:nth-child(even) .ser-img img {
  border-top-left-radius: 77px;
  border: 1px dashed #f28aae;
  padding: 5px;
}

.ser-group .col-md-3:nth-child(odd) .ser-img img {
  border-bottom-left-radius: 77px;
  border: 1px dashed #247c26;
  padding: 5px;
}

.sala-service {
  color: #45b3df;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin: 50px 0 20px 0;
}

.ser-wrap > img:first-child {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  z-index: 2;
}

.ser-wrap > img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -80%);
  z-index: 2;
}

.lo {
  overflow: hidden;
  padding-bottom: 200px;
}
.nav-pills .nav-link {
  border-radius: 0;
  padding: 15px 0px 15px 50px;
  text-align: left;
  color: #8f8989;
  font-weight: 600;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ff8664;
}

#dashboard,
#orders,
#account,
#log-out {
  position: relative;
}

#dashboard::before,
#orders::before,
#account::before,
#log-out::before {
  content: attr(data-icon);
  font-family: "Font Awesome 6 Pro";
  position: absolute;
  left: 20px;
}

#dashboard-content .log-out-btn,
.recent-order-text,
.account-detail {
  color: #ff8664;
  cursor: pointer;
}

#dashboard-content p:first-child {
  margin-bottom: 20px;
}

.dashboard-user-name {
  font-weight: bold;
}

@media (max-width: 992px) {
  .menu-pc {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
  .rank {
    margin-bottom: 15px;
  }
  .rank img:first-child {
    width: 25%;
  }
  .ser-wrap {
    overflow: hidden;
  }
  .img-deco img:last-child {
    position: absolute;
    /* right: 0; */
    /* top: 0; */
    /* transform: translateX(100%); */
    bottom: -200px;
    z-index: -1;
    right: unset;
    top: unset;
    transform: unset;
  }
}
@media (max-width: 576px) {
  .servicess {
    width: 100%;
  }
  .ser-img img {
    height: 200px;
  }
  .ser-wrap > img:first-child {
    transform: translate(0, 50%);
    z-index: -1;
  }
  .ser-wrap > img:nth-child(2) {
    display: none;
  }
  .news-title {
    font-size: 25px;
    margin-bottom: 30px;
  }
  td:not(:first-child) {
    font-size: 13px;
  }
  tr td:first-child {
    font-size: 14px;
  }
  .gold::before,
  .silver::before,
  .diamond::before {
    content: attr(data-text2);
  }
  .news-details {
    width: 100%;
  }
  .sub-imgs img {
    margin-bottom: 12px;
  }
  .overview-text,
  .overview-text2 {
    padding-left: 0;
  }
  .heading .welcome .welcome-content p:nth-child(2) {
    font-size: 40px;
  }
  .content {
    width: 100%;
  }
  .slider-wrap {
    padding: 25px 10px 70px 10px;
  }
  .service {
    display: unset;
  }
  .opening-wrap .col-md-6:first-child {
    order: 2;
  }
  .liciense {
    text-align: left;
  }
  .footer-register {
    padding: 10px 0;
  }
  .right input:first-child {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .footer-wrap {
    padding: 50px 0 20px 0;
  }
  .welcome-img {
    width: 80%;
    margin: 0 auto;
    position: relative;
  }
  .welcome {
    flex-wrap: wrap;
  }
  .welcome .col-lg-6:nth-child(3) {
    order: 2;
  }
  .attractive {
    margin-top: 70px;
  }
  .heading .welcome .welcome-bg {
    height: 112%;
  }
  .welcome svg:nth-child(10) {
    position: absolute;
    bottom: 37%;
    left: 8%;
  }
  .welcome svg:first-child {
    position: absolute;
    bottom: 25%;
    left: 60%;
  }
  .heading .welcome .welcome-content {
    padding: 30px;
    position: relative;
  }
  .breadcrumb {
    margin-top: 50px;
  }
  .login-form-wrap .login-form {
    width: 95%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 50px;
  }
  .login-form-wrap .login-form .rocket {
    position: absolute;
    top: -40px;
    left: 18px;
    width: 80px;
    transform: unset;
  }
  .near-places {
    padding: 0;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .n-p-title {
    margin-bottom: 30px;
  }
  .place-right {
    justify-content: center;
    margin-top: 30px;
  }
  .place-right-title {
    left: 5%;
  }
  .ser-wrap {
    overflow: unset;
  }
  .img-deco img:last-child {
    position: relative;
    transform: unset;
    bottom: 0;
  }
  .img-deco img:first-child {
    position: absolute;
    right: 25px;
    top: 337px;
  }
  .avatarWrap {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .girl img {
    width: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
